# Dependencies
node_modules

# Next.js build cache
.next

# Git
.git
.gitignore

# OS-specific files
.DS_Store
*.log

# Environment variables (secrets)
.env
.env.*
!.env.example

# Docker
Dockerfile
.dockerignore

# Build artifacts
coverage
dist
dev_server.log

# Other configuration files
.coderabbit.yml
README.md
eslint.config.mjs
prettier.config.cjs